/* client/src/styles/globals.css */
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: system-ui, -apple-system, sans-serif;
  
  /* Highly Saturated Light Theme */
  --color-bg-dark: oklch(0.92 0.09 141);
  --color-bg-base: oklch(0.96 0.09 141); 
  --color-bg-light: oklch(1 0.09 141);
  
  --color-fg: oklch(0.15 0.18 141); 
  --color-fg-muted: oklch(0.4 0.82 141);
  
  --color-highlight: oklch(1 0.18 141);
  
  --color-border-main: oklch(0.6 0.18 141); 
  --color-border-muted: oklch(0.7 0.18 141);
  
  --color-primary: oklch(0.4 0.18 141);
  --color-secondary: oklch(0.4 0.18 321);
  --color-danger: oklch(0.5 0.18 30);
  --color-warning: oklch(0.5 0.18 100);
  --color-success: oklch(0.5 0.18 160);
  --color-info: oklch(0.5 0.18 260);
}

@layer base {
  /* Apply your new theme to the base HTML */
  html, body {
    @apply antialiased text-fg bg-bg-base;
  }
}